.navbar-mine {
    background-color: #4F8AC5;
    background-image: none;
    box-shadow: 0 0px 6px #B6B6B6;
    margin-top: 10px;
}

.navbar-text {
    color: #FFFFFF;
    background: #3F668D;
    border-radius: 10px;
    line-height: 0;
    margin-top: 12px;
    padding: 15px 5px;
    font-size: 9pt;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.navbar-brand:hover {
    color: #BCFC18 !important;
}

.progress-mine {
    width: 300px;
    margin: 10px 20px 0 0;
}

.progress-mine > .progress-bar {
    background-color: #3F668D;
}

h5 {
    margin: 0 0 5px 0;
    word-wrap: break-word;
    font-size: 10pt;
}

.btn-mine {
    color: #fff !important;
    background-color: #3F668D !important;
}

.btn-mine:hover, .btn-mine.hover, .btn-mine:focus, .btn-mine:active, .btn-mine.active, .open > .dropdown-toggle.btn-mine {
    color: #fff !important;
    background-color: #415b76 !important;
    border-color: #415b76 !important;
}

.btn-mine:active, .btn-mine.active, .open > .dropdown-toggle.btn-mine {
    background: #2c3e50 !important;
    border-color: #2c3e50 !important;
}

.thumbnail {
    min-height: 125px !important;
}

body {
    overflow-y: scroll;
}

.xm {
    color: #fff;
    background-color: #cc5099;
}

.mod {
    color: #fff;
    background-color: #815ecc;
}

.it {
    color: #fff;
    background-color: #cc8c6e;
}

.s3m {
    color: #fff;
    background-color: #cc2833;
}

.playing {
    background-color: rgba(29, 67, 243, 0.08);
}

.minutes {
    margin-left: -10px !important;
}